.App {
  text-align: center;
}

.container {
  margin:20px;
  background-color: #dbece9;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.selectContainer {
  display: inline-block;
  position: relative;
}

.customSelect {
  appearance: none;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-size: 14px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.customSelect:focus {
  border-color: #66e9c2;
  outline: none;
}

.selectArrow {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
  transform: translateY(-50%);
}

.option {
  padding: 10px;
  background-color: #fff;
}

.option:hover {
  background-color: #f1f1f1;
}

@media (max-width: 600px) {
  .customSelect {
    font-size: 14px;
  }
}